.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
}

#demo {
    font-size: 25px;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

img {
    width: 160px;
    margin-left: 43.89%;
}

p {
    font-family: 'Yesteryear', cursive;
    font-size: 160px;
}